In [1]:
#Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(26)

from sklearn.model_selection import train_test_split, GridSearchCV,ShuffleSplit
from sklearn.metrics import r2_score,make_scorer,mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import MinMaxScaler

In [134]:
#Loading the data 
data = pd.read_excel("VesselData.xlsx")

# Machine learning approach

## Data cleaning

In [135]:
print(data.columns)

Index(['eta', 'ata', 'atd', 'vesseldwt', 'vesseltype', 'discharge1', 'load1',
       'discharge2', 'load2', 'discharge3', 'load3', 'discharge4', 'load4',
       'stevedorenames', 'hasnohamis', 'earliesteta', 'latesteta',
       'traveltype', 'previousportid', 'nextportid', 'isremarkable',
       'vesselid'],
      dtype='object')

In [136]:
print(data.shape)

(8208, 22)

Four cargo types have been identified (ore, coal, oil, and petroleum), and vessels often carry a mixture of cargo types. For each unique vessel arrival (i.e. each row in the data), we would like a prediction of how much it transships (total of load & discharge activities) per cargo type. Variables of interest therefore are: discharge1, load1, discharge2, load2, discharge3, load3, discharge4 and load4.

In [137]:
#Removing columns which we don't care about
#The assumption is that we want to predict how much each ship carries, not when it arrives or whether it will be delayed or not

data = data.drop(columns=['eta', 'ata', 'atd', 'earliesteta', 'latesteta'])
data.head(5)

,vesseldwt,vesseltype,discharge1,load1,discharge2,load2,discharge3,load3,discharge4,load4,stevedorenames,hasnohamis,traveltype,previousportid,nextportid,isremarkable,vesselid
0,109290.0,5,0,0,0,0,90173,0,0,0,Stevedore_104,NaN,ARRIVAL,981,731,f,2242
1,67170.0,3,0,0,0,0,0,0,0,0,Stevedore_109,NaN,ARRIVAL,19,15,f,5462
2,67737.0,3,0,0,0,0,0,0,0,0,Stevedore_57,NaN,ARRIVAL,19,19,f,5251
3,43600.0,3,0,0,0,0,0,0,0,0,Stevedore_57,NaN,ARRIVAL,15,18,f,5268
4,9231.0,3,0,0,0,0,0,0,0,0,Stevedore_98,NaN,ARRIVAL,74,27,f,5504

Stevedorenames has on some lines multiple entries, this could be solved in several ways, like making a new column for each stevedore and then have bool values for whichever ones were present(which would make our dataset explode horizontally). Since we cannot do that right now in the interest of time I will drop the column

In [138]:
data = data.drop(columns = ["stevedorenames"])

There are still columns which don't really add anything to the project - they hold either the same value (like "isremarkable" - which only has "f") or don't have values at all (hasnohamis). We remove those as well

In [139]:
data = data.drop(columns = ["hasnohamis","isremarkable"])

In [140]:
data.head(5)

,vesseldwt,vesseltype,discharge1,load1,discharge2,load2,discharge3,load3,discharge4,load4,traveltype,previousportid,nextportid,vesselid
0,109290.0,5,0,0,0,0,90173,0,0,0,ARRIVAL,981,731,2242
1,67170.0,3,0,0,0,0,0,0,0,0,ARRIVAL,19,15,5462
2,67737.0,3,0,0,0,0,0,0,0,0,ARRIVAL,19,19,5251
3,43600.0,3,0,0,0,0,0,0,0,0,ARRIVAL,15,18,5268
4,9231.0,3,0,0,0,0,0,0,0,0,ARRIVAL,74,27,5504

Based on the assignment the main goal is "a prediction of how much it transships (total of load & discharge activities) per cargo type." So assuming we need to predict the total of, lets say Coal - aka. discharge1 and load1, we need to create columns which hold the type of information we want to predict. 

What strikes me as odd and probably means I am not understanding something correctly is the prediction requirement. Assuming our input data looks like this, even without preprocessing we could just calculate how much it will transship of each type. 

I will proceed with the assignment assuming we don't have discharge1	load1	discharge2	load2	discharge3	load3	discharge4	load4 in the data initially and this is something we need to figure out.

I am noticing something else which is odd, most records have 0s in all discharge and load columns:

In [141]:
data.discharge1.value_counts()

0         8070
550          2
43343        1
176828       1
78500        1
          ...
3700         1
171670       1
198397       1
3980         1
39456        1
Name: discharge1, Length: 138, dtype: int64

In [142]:
data = data[(data == 0).sum(1) < 8]
data.shape

(1605, 14)

Lastly we are making the column traveltype to boolean

In [143]:
data = data.replace({'traveltype': {"ARRIVAL": 1, "SHIFT": 0}})

Removing all of the rows where all the discharge and loads are equal to 0 leaves us with much less records. However, that is preferable, since if a possible model is to predict only 0 it would have accuracy of about 1605/8208 = 80%. Now the model will have to predict a value, which again could not be ideal, since most ships will not carry any cargo based on the assignment. If there was more time, the best approach would be to reduce the number of lines with 0s, rather than removing all. There could also be patterns within the data which could explain why some of the lines had 0s (like some of the Stevedores being used for different kinds of goods than the ones we care about or some of the ships being passenger ones)

Originally I was thinknig that this is definitelly a regression problem, since we will have to predict quantity. In the intrest of time I decided to go for a ML solution rather than a Deep leanring one.

Lastly, there are still some ID columns which could be removed - like the vessel id or next port id, the only reason for why am I keeping them is in case the model notices some relationship between the vessel ID and the type of cargo it carries.

## Building a model

In the intrest of time I have to proceed to that point. However there are still some things that could be done on the previous step, like turing some columns to binary etc. 

Now based on the assignment we have to make a column which combines discharge and load for each product

In [144]:
data["ore_transship"] = (data["discharge1"] + data["load1"])
data["coal_transship"] = (data["discharge2"] + data["load2"])
data["oil_transship"] = (data["discharge3"] + data["load3"])
data["petroleum_transship"] = (data["discharge4"] + data["load4"])

In [145]:
data.head(5)

,vesseldwt,vesseltype,discharge1,load1,discharge2,load2,discharge3,load3,discharge4,load4,traveltype,previousportid,nextportid,vesselid,ore_transship,coal_transship,oil_transship,petroleum_transship
0,109290.0,5,0,0,0,0,90173,0,0,0,1,981,731,2242,0,0,90173,0
5,74518.0,2,72741,0,0,0,0,0,0,0,1,981,981,7242,72741,0,0,0
8,17069.0,5,0,0,0,0,14044,0,0,0,1,36,286,2542,0,0,14044,0
23,7133.0,3,0,4188,0,0,0,0,0,0,1,45,1037,894,4188,0,0,0
27,158070.0,5,0,0,0,0,131231,0,0,0,1,1291,1156,7144,0,0,131231,0

Now since we have the new columns we can remove the old ones and split the dataset into training and test. But not before we scale the data to make sure nothing explodes.

In [146]:
scaler = MinMaxScaler()
data[data.columns] = scaler.fit_transform(data[data.columns])

In [147]:
data = data.drop(columns = ["discharge1","discharge2","discharge3","discharge4","load1","load2","load3","load4"])

train, test = train_test_split(data, test_size=0.2)

In [153]:
train.head(5)

,vesseldwt,vesseltype,traveltype,previousportid,nextportid,vesselid,ore_transship,coal_transship,oil_transship,petroleum_transship
7176,0.930876,1.0,1.0,0.304667,0.031447,0.314309,0.0,0.0,0.278723,0.000000
5961,0.074284,1.0,1.0,0.299948,0.011530,0.337353,0.0,0.0,0.030236,0.000000
61,0.074438,1.0,1.0,0.006817,0.512579,0.336415,0.0,0.0,0.000000,0.056599
923,0.054681,1.0,1.0,0.010488,0.006289,0.397240,0.0,0.0,0.000000,0.045197
6213,0.217242,1.0,1.0,0.059780,0.031971,0.935557,0.0,0.0,0.000000,0.150963

In [150]:
model = DecisionTreeRegressor()

Out of time.